footer {
    /*TODO It has space from bottom of the page*/
    display: inline-block;
    background: var(--brown-dark-primary);
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 0.5%;
}

#footer-note {
    color: var(--white-primary);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
