header {
    display: inline-block;
    background: white;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    position: sticky;
    top: 0;
    width: 100%;
    height: min-content;
}

#header-logo-place {
    display: inline-block;
}

#header-logo-img {
    display: inline-block;
    height: 3em;
}

#header-logo-name {
    display: inline-block;
    color: var(--brown-light-primary);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header-search-box {
    display: inline-block;
    height: 60%;
    border-radius: 15px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: var(--cream-primary);
}

#header-search-form {
    position: relative;
    height: 40px;
    width: 18rem;
    border-radius: 16px;
    background: var(--cream-primary);
}

#header-search-dropdown {
    position: absolute;
    left: 0;
    height: 40px;
    border-radius: 16px;
    background: var(--cream-dark-primary);

}

#header-search-field {
    background: var(--cream-primary);
    position: absolute;
    left: 84px;
    height: 35px;
    top: -1%;
    border-radius: 16px;
    border: none;
    outline: none;
    color: var(--gray-primary);
}

#header-search-field:focus {
    outline: none;
!important;
    border: none;
}

#header-search-img {
    position: absolute;
    right: 5px;
    top: 2px;
}

#header-dynamic-box {
    display: inline-block;
    float: right;
    margin-right: 1%;
    height: 100%;
}

.auth-btn {
    background: var(--cream-primary);
    border: 0;
    border-radius: 15px;
    font-size: 1.5em;
    color: var(--brown-light-primary);
    height: 60%;
}

#header-username {
    display: inline-block;
    color: var(--brown-dark-primary);
    font-size: 1.5em;
}

#header-cart {
    display: inline-block;
    background: var(--brown-dark-primary);
    border: 0;
    border-radius: 15px;
    font-size: 1.5em;
    color: var(--cream-primary);
    height: 60%;
}
