.cardbody-color{
    background-color: var(--cream-primary);
}

.form-control:focus {
    border-color: var(--yellow-primary);
    box-shadow: inset 0 1px 1px var(--yellow-primary), inset 0 0 4px var(--yellow-primary);
}

.btn.btn-primary {
    background: #e3b04b !important;
    border: 1px solid #e3b04b !important;
    color: #fff !important;
}