.content {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
}

.container-card {
    background: white;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 1rem;
    padding: 1rem;
}

#use-info-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.user-info-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
}

.user-info-logo {
    margin-right: 8px;
}

.user-info-logo > img {
    width: 1rem;
    height: 1rem;
}

.user-info-data-label {
    color: var(--brown-dark-primary);
    font-weight: bold;
}

.user-info-data > label {
    color: var(--brown-dark-primary);
    font-weight: bold;
    font-size: 5rem;
}

#credit-input {
    border: 1px solid #919191;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 16px;
    text-align: center;
    background: transparent;
    height: 2rem;
    outline: none; !important;
}

#credit-input:focus {
    outline: none; !important;
}

.action-btn {
    height: 2.5rem;
    font-size: 24px;
}

.title-logo {
    width: 1rem;
    height: 1rem;
    margin-right: 8px;
}

.title-label {
    color: var(--brown-dark-primary);
    font-weight: bold;
    font-size: 1.5rem;
}

.table-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.table-header label {
    font-weight: bold;
    font-size: 1rem;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 16px;
    padding: 1rem 0;
    align-content: center;
}

.product-card label {
    color: var(--gray-primary);
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    top: 20px;
}

.product-stock {
    color: var(--red-primary);
}

.product-rating {
    color: var(--yellow-primary);
}

.product-card button {
    position: relative;
    top: 20px;
    border: none;
    background: transparent;
    border-radius: 16px;
}

.product-card button:hover {
    opacity: 70%;
    transition: 0.5s;
    background: var(--gray-primary);
    cursor: pointer;
}

.product-card div {
    border-radius: 16px;
    border: 1px solid #593C1C;
}

.product-card img {
    max-width: 5rem;
    max-height: 5rem;
}

#pay-btn {
    position: relative;
    width: 30%;
    left: 35%;
}
