body {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: left;
    flex-direction: column;
}

.content {
    padding-left: 2rem;
    padding-right: 2rem;
}

#product-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#product-img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

#product-info-container {
    flex-wrap: wrap;
    width: 400px;
    margin: 2rem;
}

#product-title {
    color: var(--brown-dark-primary);
    margin: 0;
}

#product-stock-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: 700px;
}

#product-stock {
    color: var(--red-primary);
    font-weight: bold;
}

#product-rate-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: center;
    horiz-align: center;
    margin: 0;
    max-width: 700px;
}

#rate-star {
    width: 2rem;
    height: 2rem;
}

#product-rating {
    color: var(--brown-dark-primary);
    font-weight: bold;
}

#product-rate-count {
    color: var(--gray-primary);
}

#product-provider {
    font-weight: bold;
}

#category-label {
    color: var(--brown-dark-primary);
}

.product-category {
    color: var(--brown-dark-primary);
}

#buy-product-container {
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    max-width: 700px;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
}

#product-price {
    color: var(--brown-dark-primary);
}

#rating-container {
    max-width: 700px;
}

#product-rate-action-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    margin-top: 1rem;
}

#rate-label {
    font-weight: bold;
}

.action-btn {
    background-color: var(--brown-dark-primary);
    color: white;
    border-radius: 16px;
    border: none;
    font-size: 24px;
}

.action-btn:hover {
    opacity: 70%;
    transition: 0.5s;
    cursor: pointer;
}

.rating {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating > input {
    display: none;
}

.rating > label {
    position: relative;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: var(--yellow-primary);
    cursor: pointer;
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    color: var(--gray-primary);
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
    color: var(--yellow-primary); !important;
}

.rating > input:checked ~ label:before {
    opacity: 1;
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

#comment-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.25rem;
    background-color: white;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    padding: 1rem;
}

#comment-label {
    color: var(--brown-dark-primary);
    font-size: 24px;
}

#comment-count {
    color: var(--gray-primary);
    font-size: 20px;
}

.comment-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);
    padding: 0.5rem;
}

.comment-user-date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
}

.comment-user-date p {
    color: var(--gray-primary);
}

.comment-rating-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
}

.comment-rating-container p {
    color: var(--brown-dark-primary);
    font-size: 16px;
    font-weight: 500;
}

.comment-rating-container img:hover {
    opacity: 50%;
    transition: 0.5s;
    cursor: pointer;
}

#submit-comment-container {
    position: relative;
    height: 8rem;
    max-height: 8rem;
    margin: 1rem;
}

#submit-comment-container label {
    color: var(--brown-dark-primary);
    font-size: 24px;
}

#write-comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 80%;
}

#write-comment textarea {
    width: 80%;
    border: none;
    background: var(--white-primary);
    border-radius: 16px;
    outline: none; !important;
    padding: 0.5rem;
}

#write-comment textarea:focus {
    border: none;
    outline: none; !important;
    padding: 0.5rem;
}

#similar-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: left;
    text-align: center;
}
