.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__image {
    width: 100px;
}

.header__logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.header__logo__text {
    color: var(--brown-light-primary);
    margin: 5px;
    font-family: 'Inter', serif;
    font-size: 42px;
}

@media only screen and (max-width: 768px) {
    .header__logo__image {
        width: 70px;
        height: 70px;
    }

    .header__logo__text {
        color: var(--brown-light-primary);
        margin: 5px;
        font-family: 'Inter', serif;
        font-size: 23px;
    }
}